# W3TC- W3 Total Cache
w3tc-config/
cache/
mobile/cache
wp-content/cache
wp-content/advanced-cache.php
wp-content/object-cache.php

# Netbeans
/nbproject/private/
nbproject

# visual studio code
.vscode/*

# WebStorm / PhpStorm
.idea/*
.idea

# Env
.htaccess
.gitkeep
nginx.conf
wp-config.php

#css-map
wp-content/themes/johnslots_2017/style.css.map

node_modules
#bower_components
.sass-cache
#Gemfile*

#/vendor/
wp-content/uploads
/wp-content/themes/johnslots_2017/languages/*.po
/wp-content/themes/johnslots_2017/languages/*.mo

##########################
*.log
*.sql
*.sh
sitemap_index.xml
sitemap.xml
sitemap.xml.gz
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
readme.html
license.txt
#wp-content/upgrade/
#wp-content/plugins/index.php
#wp-content/index.php
#wp-includes
#wp-admin
#wp-*.php
#xmlrpc.php

#uploads
wp-content/themes/quickspin/Archive.zip
wp-content/themes/quickspin/__MACOSX/
wp-content/themes/quickspin/functions.php.bak
wp-content/themes/quickspin/templates/__MACOSX/
wp-content/themes/quickspin/templates/head.zip
wp-content/uploads.tar.gz
wp-content/uploads_bak/
wp-content/wp-rocket-config/
wp-content/plugins/wp-rocket/cache.json

#node_modules
wp-content/themes/quickspin/node_modules
wp-content/themes/quickspin/bower.json
wp-content/themes/quickspin/package-lock.json
wp-content/themes/quickspin/package.json

